.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-background {
  background: url(../images/login-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-full-width {
  width: 300px;
}

.header-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
