<!-- Header -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dropshipping App</span>
    <!-- This fills the remaining space of the current row -->
    <span class="header-fill-remaining-space"></span>
    <div>
      <button mat-button>
        <mat-icon>place</mat-icon>
        Sobre
      </button>
      <button mat-button>
        <mat-icon>feedback</mat-icon>
        <span>Contato</span>
      </button>
      <button mat-button>
        <mat-icon>perm_identity</mat-icon>
        <span>Login</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Login -->
<div class="login-background">
  <div class="main-div">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form">
          <table class="login-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="login-full-width">
                  <input matInput placeholder="Usuário" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="login-full-width">
                  <input matInput placeholder="Senha" [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>